rich
anthropic
openai
groq
keyring
pydantic
schedule
SpeechRecognition
plyer
pandas
python-docx
opencv-python
PyAutoGUI
litellm
requests
beautifulsoup4
ddgs
psutil
PyGetWindow
screen_brightness_control
pyttsx3
pypdf
openpyxl
tabulate
google-api-python-client
protobuf
google-auth-oauthlib
chromadb
googlemaps
pyperclip
typer
numpy
sentence-transformers
tzlocal
watchdog